// 模块标题
// 使用场景 商品详情页 相关作品 同作家作品 猜你喜欢 标题样式 
.v1-module-title{
    font-size: 20px;
    color: #E61F1A;
    text-align: center;
    font-weight: bold; 
    position: relative; 
    margin-bottom: 60px;
    &::after,&::before{
        @extend .before-ver;
        background: url('//static.theone.art/pc/images/pic-home/pic_home_you%402x.png') no-repeat left center ;
        background-size: 77px 7px;
        width: 77px;
        height: 100%; 
        margin-left: 20px;
    }
    &::before{
        background-image: url('//static.theone.art/pc/images/title-left.png') ;
        transform: translate(-100%,-50%);
        margin-left: -20px;
    }
}
 
@media screen and (max-width: 541px) {
    .v1-module-title{
        font-size: 0.4rem;
        margin-bottom: 0.6rem;
    }
}

.v1-font-message{
    color: #E61F1A;
}