{

  "plugins": [
    [
      "import",
      {
        "libraryName": "vant",
        "libraryDirectory": "es",
        "style": true
      }
    ],

    ["@babel/plugin-syntax-dynamic-import"]
  ]
}