// 基础色值

$art-red-10: #e61f1a;

$art-yellow-10: #f4a33a;

$art-blue-10: #397fe7;

$art-grey-10: #fdfdfd;
$art-grey-20: #fafafa;
$art-grey-30: #f4f4f4;
$art-grey-40: #eeeeee;
$art-grey-50: #e5e5e5;
$art-grey-60: #cccccc;
$art-grey-70: #999999;
$art-grey-80: #4d4d4d;
$art-grey-90: #333333;

//渐变

$art-gradient-red-10: linear-gradient(90deg, #ff7a64 0%, #e61f1a 100%);
